# local or sepolia
NODE_ENV=
PORT=5000
JWT_SECRET=

# LOCAL DB
DATABASE_URL=postgresql://admin:password123@localhost:5432/coffee_trace_db?schema=public

# CLOUD DB
## FOR LOCAL BACKEND
# DATABASE_URL=postgresql://postgres:<password>@db.ifqhswzvfqrmrsybggrv.supabase.co:5432/postgres

## FOR DEPLOYED BACKEND
# DATABASE_URL=postgresql://postgres.ifqhswzvfqrmrsybggrv:<password>@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?pgconnect=true&connection_limit=1

# LOCAL
LOCAL_BLOCKCHAIN_RPC=
LOCAL_USER_REGISTRY=
LOCAL_BATCH_REGISTRY=
LOCAL_EVENT_REGISTRY=

# SEPOLIA (ALCHEMY)
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<password>
SEPOLIA_PRIVATE_KEY=
SEPOLIA_USER_REGISTRY=
SEPOLIA_BATCH_REGISTRY=
SEPOLIA_EVENT_REGISTRY=

# IPFS
PINATA_API_KEY=aa1c5968bc98e29fd703
PINATA_SECRET_API_KEY=a74032be09cce15b9df1d190436eb545822629dbac5edf65296247a4a5fbf913